.footer {
  background-color: #6278f7;
  padding: 32px 0;
}

.footer .footer-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.footer .footer-content .social {
  display: flex;
  gap: 32px;
}

.footer .footer-content p {
  color: #fff;
}